<div class="row">
  <div class="col-md-6">
    <h3>15 November 2019</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr> <td>Intro to data</td>
    </table>
  </div>
  <div class="col-md-6">
    <h3>13 December 2019</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr> <td>Tidy spreadsheets</td>
    </table>
  </div>
    <div class="col-md-6">
    <h3>7 February 2020</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr> <td>Openrefine</td>
    </table>
  </div>
    <div class="col-md-6">
    <h3>20 March 2020</h3>
    <h4>Digital Scholarship Centre, time TBC</h4>
    <table class="table table-striped">
      <tr> <td>Shell intro</td>
    </table>
  </div>
    <div class="col-md-6">
    <h3>17 April 2020</h3>
    <h4>Digital Scholarship Centre, 1.30pm - 5.00pm</h4>
    <table class="table table-striped">
      <tr> <td>Intro to Python</td>
    </table>
  </div>
    <div class="col-md-6">
    <h3>1 May 2020</h3>
    <h4>Digital Scholarship Centre, 1.30pm - 5.00pm</h4>
    <table class="table table-striped">
      <tr> <td>Intro to R</td>
    </table>
  </div>
</div>
